.mainNav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.mainNavButton {
  font-family: 'Yuji Syuku', serif;
  font-size: 1rem;
  color: #a4ac9e;
}

.mainNavButton:hover {
  background-color: white;
  text-decoration: underline;
}

.logo {
  width: 8rem;
}
