.mainNav {
  display: none;
}

.responsiveMainNav {
  display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.logo {
  width: 8rem;
}

@media (min-width: 950px) {
  .responsiveMainNav{
    display: none;
  }

  .mainNav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
  }

  .mainNavButton {
    font-family: 'Yuji Syuku', serif;
    font-size: 1rem;
    color: #a4ac9e;
  }

  .mainNavButton:hover {
    background-color: white;
    text-decoration: underline;
  }

 

  .mainNavMenuItem {
    font-family: 'Yuji Syuku', serif;
    font-size: 1rem;
    color: #a4ac9e;
  }

  .searchSection {
    background-color: #64825e;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .searchBar {
    background-color: white;
    width: 50%;
    border-radius: 3rem;
  }

  .outlinedSearchBar {
    border-radius: 3rem;
  }
}
