.arrayHeadCell {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #64825e;
}

.arrayBodyCell {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 1rem;
}

.arrayInputCell {
  border: solid 2px #a4ac9e;
  border-radius: 7px;
  height: 3rem;
}

.actionButtonSection {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }