.articlesListHeadSection {
  margin: 1rem 0 1rem 5rem;
}

.articlesListMainSection {
  display: flex;
  justify-content: space-evenly;
}

.articlesListCardSection {
  width: 25vw;
  height: 423px;
}

.articlesListButton {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}
