.mainNav {
  display: none;
}

.responsiveMainNav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.logo {
  width: 8rem;
}

.responsiveMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.mainNavButton {
  font-family: 'Yuji Syuku', serif;
  font-size: 1rem;
  color: #a4ac9e;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mainNavButton:hover {
  background-color: white;
  text-decoration: underline;
}

.mainNavMenuItem {
  font-family: 'Yuji Syuku', serif;
  font-size: 1rem;
  color: #a4ac9e;
}

.searchSection {
  background-color: #64825e;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 950px) {
  .responsiveMainNav {
    display: none;
  }

  .responsiveMenu {
    display: none;
  }

  .mainNav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
  }

  .mainNavButton {
    padding: 0rem;
  }
}
