.nutritionRecordsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nutritionRecordsListModal {
  margin: 1rem;
}

.nutritionRecordsListModalContentText {
  margin-bottom: 1rem;
}