.recipeDetailHeadSection {
  margin: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.recipeDetailImageBox {
  width: 570px;
  height: 860px;
}

.recipeDetailImage {
  width: 100%;
}

.recipeDetailGeneralInfoBox {
  width: 45vw;
  height: 860px;
}

.recipeDetailBox {
  width: 100%;
}

.recipeDetailTagSection {
  display: flex;
  justify-content: space-evenly;
}

.recipeDetailGeneralInfoSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recipeDetailTimeSection {
  width: 100%;
}
