.nutritionCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 17rem;
  margin: 1.5rem;
  border: solid 2px #64825e;
}

.nutritionCardText {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
