.presentationSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentationSectionImageBox {
  width: 50vw;
}

.presentationSectionImage {
  width: 100%;
  max-height: 36rem;
}

.presentationSectionTextArea {
  margin-right: 5rem;
  width: 40vw;
}

.presentationSectionTitle {
  font-family: 'Oooh Baby';
  font-size: 3rem;
  color: #64825e;
  font-weight: 600;
  text-align: center;
  margin: 0.7rem 0;
}

.presentationSectionSubTitle {
  font-size: 2rem;
}

.presentationSectionText {
}
