.filterSection {
  display: none;
}

.responsiveFilterSectionButton {
  display: block;
  margin: 1rem;
}

@media (min-width: 950px) {
  .responsiveFilterSection {
    display: none;
  }

  .filterSection {
    display: flex;
  }

  .responsiveFilterSectionButton {
      display: none;
  }
}
