.foodDetailArrayRow {
  justify-content: space-between;
}

.foodDetailArrayColumn {
  width: 50%;
}

.foodDetailArrayItem {
  justify-content: space-between;
}

.foodDetailArrayText {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 0.9rem;
  text-align: justify;
}

.foodDetailArrayNutriValue {
  text-align: right;
}

@media (min-width: 950px) {
  .foodDetailArrayColumn {
    width: 45%;
  }

  .foodDetailArrayText {
    font-size: 1.1rem;
  }
}
